In [41]:
import pandas as pd
import numpy as np

In [46]:
df_books = pd.read_csv('/Users/sandradelgadoalmendrales/Library/Mobile Documents/com~apple~CloudDocs/Platzi /Numpy y Pandas/Proyecto curso/Pandas/bestsellers-with-categories_e591527f-ae45-4fa5-b0d1-d50142128fa6.csv',sep=',',header=0)
df_books.head(2)

,Name,Author,User Rating,Reviews,Price,Year,Genre
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016,Non Fiction
1,11/22/63: A Novel,Stephen King,4.6,2052,22,2011,Fiction

In [31]:
df_books.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 550 entries, 0 to 549
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Name         550 non-null    object
 1   Author       550 non-null    object
 2   User Rating  550 non-null    float64
 3   Reviews      550 non-null    int64
 4   Price        550 non-null    int64
 5   Year         550 non-null    int64
 6   Genre        550 non-null    object
dtypes: float64(1), int64(3), object(3)
memory usage: 30.2+ KB

In [19]:
df_books.describe()

       User Rating       Reviews       Price         Year
count   550.000000    550.000000  550.000000   550.000000
mean      4.618364  11953.281818   13.100000  2014.000000
std       0.226980  11731.132017   10.842262     3.165156
min       3.300000     37.000000    0.000000  2009.000000
25%       4.500000   4058.000000    7.000000  2011.000000
50%       4.700000   8580.000000   11.000000  2014.000000
75%       4.800000  17253.250000   16.000000  2017.000000
max       4.900000  87841.000000  105.000000  2019.000000

In [20]:
df_books.tail(2)

,Name,Author,User Rating,Reviews,Price,Year,Genre
548,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2018,Non Fiction
549,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2019,Non Fiction

In [32]:
df_books.memory_usage(deep=True)

Index            128
Name           59737
Author         39078
User Rating     4400
Reviews         4400
Price           4400
Year            4400
Genre          36440
dtype: int64

In [33]:
df_books['Author'].value_counts()

Author
Jeff Kinney                           12
Gary Chapman                          11
Rick Riordan                          11
Suzanne Collins                       11
American Psychological Association    10
                                      ..
Keith Richards                         1
Chris Cleave                           1
Alice Schertle                         1
Celeste Ng                             1
Adam Gasiewski                         1
Name: count, Length: 248, dtype: int64

In [35]:
row_to_duplicate = df_books.iloc[[0]]
row_to_duplicate

,Name,Author,User Rating,Reviews,Price,Year,Genre
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016,Non Fiction

In [36]:
df_books = pd.concat([df_books, row_to_duplicate], ignore_index=True)
df_books

,Name,Author,User Rating,Reviews,Price,Year,Genre
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016,Non Fiction
1,11/22/63: A Novel,Stephen King,4.6,2052,22,2011,Fiction
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,15,2018,Non Fiction
3,1984 (Signet Classics),George Orwell,4.7,21424,6,2017,Fiction
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,7665,12,2019,Non Fiction
...,...,...,...,...,...,...,...
546,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2016,Non Fiction
547,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2017,Non Fiction
548,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2018,Non Fiction
549,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2019,Non Fiction
550,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016,Non Fiction

In [38]:
df_books.drop_duplicates(keep='last')

,Name,Author,User Rating,Reviews,Price,Year,Genre
1,11/22/63: A Novel,Stephen King,4.6,2052,22,2011,Fiction
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,15,2018,Non Fiction
3,1984 (Signet Classics),George Orwell,4.7,21424,6,2017,Fiction
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,7665,12,2019,Non Fiction
5,A Dance with Dragons (A Song of Ice and Fire),George R. R. Martin,4.4,12643,11,2011,Fiction
...,...,...,...,...,...,...,...
546,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2016,Non Fiction
547,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2017,Non Fiction
548,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2018,Non Fiction
549,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2019,Non Fiction
550,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016,Non Fiction

In [40]:
df_books.sort_values('Year', ascending=False)

,Name,Author,User Rating,Reviews,Price,Year,Genre
179,If Animals Kissed Good Night,Ann Whitford Paul,4.8,16643,4,2019,Fiction
294,School Zone - Big Preschool Workbook - Ages 4 ...,School Zone,4.8,23047,6,2019,Non Fiction
263,P is for Potty! (Sesame Street) (Lift-the-Flap),Naomi Kleinberg,4.7,10820,5,2019,Non Fiction
489,The Wonderful Things You Will Be,Emily Winfield Martin,4.9,8842,10,2019,Fiction
267,Player's Handbook (Dungeons & Dragons),Wizards RPG Team,4.8,16990,27,2019,Fiction
...,...,...,...,...,...,...,...
160,Have a Little Faith: A True Story,Mitch Albom,4.8,1930,4,2009,Non Fiction
512,True Compass: A Memoir,Edward M. Kennedy,4.5,438,15,2009,Non Fiction
513,"Twilight (The Twilight Saga, Book 1)",Stephenie Meyer,4.7,11676,9,2009,Fiction
78,Divine Soul Mind Body Healing and Transmission...,Zhi Gang Sha,4.6,37,6,2009,Non Fiction
459,The Shack: Where Tragedy Confronts Eternity,William P. Young,4.6,19720,8,2009,Fiction

In [47]:
df_books['Is it good?'] = np.where(df_books['User Rating'] > 4.5, 'Yes', 'Maybe')
df_books

,Name,Author,User Rating,Reviews,Price,Year,Genre,Is it good?
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016,Non Fiction,Yes
1,11/22/63: A Novel,Stephen King,4.6,2052,22,2011,Fiction,Yes
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,15,2018,Non Fiction,Yes
3,1984 (Signet Classics),George Orwell,4.7,21424,6,2017,Fiction,Yes
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,7665,12,2019,Non Fiction,Yes
...,...,...,...,...,...,...,...,...
545,Wrecking Ball (Diary of a Wimpy Kid Book 14),Jeff Kinney,4.9,9413,8,2019,Fiction,Yes
546,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2016,Non Fiction,Yes
547,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2017,Non Fiction,Yes
548,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2018,Non Fiction,Yes
549,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2019,Non Fiction,Yes

BUILD WITH MULTICRIERIA

Here we'll be modifying the DataFrame depending on some conditions & And |

In [49]:
df_books.loc[(df_books['Is it good?'] =='Yes') & (df_books['Year']>2016), 'Name'] = 'Do watch'
df_books

,Name,Author,User Rating,Reviews,Price,Year,Genre,Is it good?
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016,Non Fiction,Yes
1,11/22/63: A Novel,Stephen King,4.6,2052,22,2011,Fiction,Yes
2,Do watch,Jordan B. Peterson,4.7,18979,15,2018,Non Fiction,Yes
3,Do watch,George Orwell,4.7,21424,6,2017,Fiction,Yes
4,Do watch,National Geographic Kids,4.8,7665,12,2019,Non Fiction,Yes
...,...,...,...,...,...,...,...,...
545,Do watch,Jeff Kinney,4.9,9413,8,2019,Fiction,Yes
546,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2016,Non Fiction,Yes
547,Do watch,Jen Sincero,4.7,14331,8,2017,Non Fiction,Yes
548,Do watch,Jen Sincero,4.7,14331,8,2018,Non Fiction,Yes
549,Do watch,Jen Sincero,4.7,14331,8,2019,Non Fiction,Yes

In [52]:
df_books['Watch?'] = np.where ((df_books['Is it good?'] =='Yes') & (df_books['Year']>2016), 'Yes','No')
df_books

,Name,Author,User Rating,Reviews,Price,Year,Genre,Is it good?,Watch?
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016,Non Fiction,Yes,No
1,11/22/63: A Novel,Stephen King,4.6,2052,22,2011,Fiction,Yes,No
2,Do watch,Jordan B. Peterson,4.7,18979,15,2018,Non Fiction,Yes,Yes
3,Do watch,George Orwell,4.7,21424,6,2017,Fiction,Yes,Yes
4,Do watch,National Geographic Kids,4.8,7665,12,2019,Non Fiction,Yes,Yes
...,...,...,...,...,...,...,...,...,...
545,Do watch,Jeff Kinney,4.9,9413,8,2019,Fiction,Yes,Yes
546,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2016,Non Fiction,Yes,No
547,Do watch,Jen Sincero,4.7,14331,8,2017,Non Fiction,Yes,Yes
548,Do watch,Jen Sincero,4.7,14331,8,2018,Non Fiction,Yes,Yes
549,Do watch,Jen Sincero,4.7,14331,8,2019,Non Fiction,Yes,Yes

CREATE A SUBSET TO CREATE DYNAMIC NEW COLUMNS

In [56]:
df_subset = df_books[['Name', 'Author']]
new_cols = [str(x) + '_new' for x in df_subset]
categories = {1:'Alpha', 2:'Beta',3:"Gamma"}
df_books[new_cols] = df_books[df_subset].map(categories.get)
df_books

ValueError: Boolean array expected for the condition, not object